<!--
https://getbootstrap.com/docs/3.3/css/#grid-example-basic
-->
<div class="container-fluid bg-warning">
  <div class="container bg-warningX">
    <div class="row bg-info maxw97p">
      <div class="bg-primary col-xs-12 col-sm-6 col-md-4 col-lg-3 fs30">col-xs-12 col-sm-6 col-md-4 col-lg-3</div>
      <div class="bg-danger col-xs-12 col-sm-6 col-md-4 col-lg-3 fs30">col-xs-12 col-sm-6 col-md-4 col-lg-3</div>
      <div class="bg-success col-xs-12 col-sm-6 col-md-4 col-lg-3 fs30">col-xs-12 col-sm-6 col-md-4 col-lg-3</div>  
    </div>
  </div>
</div>